@tailwind base;
@tailwind components;
@tailwind utilities;

#svelte {
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
	height: 100vh;
	overflow-y: hidden;
}

@layer base {
  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-6xl;
  }
  h3 {
    @apply text-5xl;
  }
  h4 {
    @apply text-4xl;
  }
  h5 {
    @apply text-3xl;
  }
  h6 {
    @apply text-2xl;
  }
}

/* Button layout style */
@layer components {
	@variants responsive, hover, group-hover, focus, group-focus, active, disabled {
		.btn {
			@apply flex items-center justify-center text-white py-2 px-4 outline-none rounded disabled:bg-neutral disabled:opacity-75 disabled:cursor-not-allowed;
		}
		.btn-primary {
			@apply bg-primary hover:bg-primary-dark-1;
		}
		.btn-secondary {
			@apply bg-secondary hover:bg-neutral-light hover:text-neutral-light;
		}
		.btn-success {
			@apply bg-success hover:bg-success-dark;
		}
		.btn-danger {
			@apply bg-danger hover:bg-danger-dark;
		}
		.btn-info {
			@apply bg-info hover:bg-info-dark;
		}
		.btn-warning {
			@apply bg-warning hover:bg-warning-dark;
		}
		.btn-outlined {
			@apply border border-neutral bg-neutral-light text-neutral hover:bg-neutral-dark hover:text-neutral-light;
		}
		.btn-outlined-primary {
			@apply border border-primary bg-neutral-light text-primary hover:bg-primary-dark-1 hover:text-neutral-light hover:border-transparent;
		}
		.btn-outlined-secondary {
			@apply border border-secondary bg-neutral-light text-secondary hover:bg-secondary hover:text-neutral-light hover:border-transparent;
		}
		.btn-outlined-success {
			@apply border border-success bg-neutral-light text-success hover:bg-success-dark hover:text-neutral-light hover:border-transparent;
		}
		.btn-outlined-danger {
			@apply border border-danger bg-neutral-light text-danger hover:bg-danger-dark hover:text-neutral-light hover:border-transparent;
		}
		.btn-outlined-info {
			@apply border border-info bg-neutral-light text-info hover:bg-info-dark hover:text-neutral-light hover:border-transparent;
		}
		.btn-outlined-warning {
			@apply border border-warning bg-neutral-light text-warning hover:bg-warning-dark hover:text-neutral-light hover:border-transparent;
		}
	}
}

/* Background layout style */
@layer utilities {
	@variants responsive, hover, group-hover, focus, group-focus, active, disabled {
		.bg-primary {
			@apply bg-indigo-500;
		}
		.bg-primary-light-1 {
			@apply bg-indigo-300;
		}
		.bg-primary-light-2 {
			@apply bg-indigo-100;
		}
		.bg-primary-dark-1 {
			@apply bg-indigo-700;
		}
		.bg-primary-dark-2 {
			@apply bg-indigo-900;
		}
		.bg-secondary {
			@apply bg-black;
		}
		.bg-neutral {
			@apply bg-gray-400;
		}
		.bg-neutral-light {
			@apply bg-gray-100;
		}
		.bg-neutral-dark {
			@apply bg-gray-700;
		}
		.bg-success {
			@apply bg-green-600;
		}
		.bg-success-light {
			@apply bg-green-400;
		}
		.bg-success-dark {
			@apply bg-green-800;
		}
		.bg-danger {
			@apply bg-red-500;
		}
		.bg-danger-light {
			@apply bg-red-400;
		}
		.bg-danger-dark {
			@apply bg-red-700;
		}
		.bg-info {
			@apply bg-blue-600;
		}
		.bg-info-light {
			@apply bg-blue-400;
		}
		.bg-info-dark {
			@apply bg-blue-800;
		}
		.bg-warning {
			@apply bg-yellow-500;
		}
		.bg-warning-light {
			@apply bg-yellow-400;
		}
		.bg-warning-dark {
			@apply bg-yellow-700;
		}
	}
}

@layer utilities {
	/* Border layout style */
	@variants responsive, hover, group-hover, focus, group-focus, active, disabled {
		.border-primary {
			@apply border-indigo-500;
		}
		.border-primary-light-1 {
			@apply border-indigo-300;
		}
		.border-primary-light-2 {
			@apply border-indigo-100;
		}
		.border-primary-dark-1 {
			@apply border-indigo-700;
		}
		.border-primary-dark-2 {
			@apply border-indigo-900;
		}
		.border-secondary {
			@apply border-black;
		}
		.border-neutral {
			@apply border-gray-400;
		}
		.border-neutral-light {
			@apply border-gray-100;
		}
		.border-neutral-dark {
			@apply border-gray-700;
		}
		.border-success {
			@apply border-green-600;
		}
		.border-success-light {
			@apply border-green-400;
		}
		.border-success-dark {
			@apply border-green-800;
		}
		.border-danger {
			@apply border-red-500;
		}
		.border-danger-light {
			@apply border-red-400;
		}
		.border-danger-dark {
			@apply border-red-700;
		}
		.border-info {
			@apply border-blue-600;
		}
		.border-info-light {
			@apply border-blue-400;
		}
		.border-info-dark {
			@apply border-blue-800;
		}
		.border-warning {
			@apply border-yellow-500;
		}
		.border-warning-light {
			@apply border-yellow-400;
		}
		.border-warning-dark {
			@apply border-yellow-700;
		}
	}
}

/* Border layout style */
@layer utilities {
	@variants responsive, hover, group-hover, focus, group-focus, active, disabled {
		.placeholder-primary {
			@apply placeholder-indigo-500;
		}
		.placeholder-primary-light-1 {
			@apply placeholder-indigo-300;
		}
		.placeholder-primary-light-2 {
			@apply placeholder-indigo-100;
		}
		.placeholder-primary-dark-1 {
			@apply placeholder-indigo-700;
		}
		.placeholder-primary-dark-2 {
			@apply placeholder-indigo-900;
		}
		.placeholder-secondary {
			@apply placeholder-black;
		}
		.placeholder-neutral {
			@apply placeholder-gray-400;
		}
		.placeholder-neutral-light {
			@apply placeholder-gray-100;
		}
		.placeholder-neutral-dark {
			@apply placeholder-gray-700;
		}
		.placeholder-success {
			@apply placeholder-green-600;
		}
		.placeholder-success-light {
			@apply placeholder-green-400;
		}
		.placeholder-success-dark {
			@apply placeholder-green-800;
		}
		.placeholder-danger {
			@apply placeholder-red-500;
		}
		.placeholder-danger-light {
			@apply placeholder-red-400;
		}
		.placeholder-danger-dark {
			@apply placeholder-red-700;
		}
		.placeholder-info {
			@apply placeholder-blue-600;
		}
		.placeholder-info-light {
			@apply placeholder-blue-400;
		}
		.placeholder-info-dark {
			@apply placeholder-blue-800;
		}
		.placeholder-warning {
			@apply placeholder-yellow-500;
		}
		.placeholder-warning-light {
			@apply placeholder-yellow-400;
		}
		.placeholder-warning-dark {
			@apply placeholder-yellow-700;
		}
	}
}

/* Text layout style */
@layer utilities {
	@variants responsive, hover, group-hover, focus, group-focus, active, disabled {
		.text-primary {
			@apply text-indigo-500;
		}
		.text-primary-light-1 {
			@apply text-indigo-300;
		}
		.text-primary-light-2 {
			@apply text-indigo-100;
		}
		.text-primary-dark-1 {
			@apply text-indigo-700;
		}
		.text-primary-dark-2 {
			@apply text-indigo-900;
		}
		.text-secondary {
			@apply text-black;
		}
		.text-neutral {
			@apply text-gray-400;
		}
		.text-neutral-light {
			@apply text-gray-100;
		}
		.text-neutral-dark {
			@apply text-gray-700;
		}
		.text-success {
			@apply text-green-600;
		}
		.text-success-light {
			@apply text-green-400;
		}
		.text-success-dark {
			@apply text-green-800;
		}
		.text-danger {
			@apply text-red-500;
		}
		.text-danger-light {
			@apply text-red-400;
		}
		.text-danger-dark {
			@apply text-red-700;
		}
		.text-info {
			@apply text-blue-600;
		}
		.text-info-light {
			@apply text-blue-400;
		}
		.text-info-dark {
			@apply text-blue-800;
		}
		.text-warning {
			@apply text-yellow-500;
		}
		.text-warning-light {
			@apply text-yellow-400;
		}
		.text-warning-dark {
			@apply text-yellow-700;
		}
	}
}